.address-view-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 20px;
    min-height: 100vh;
}

.adrress-view {
  text-align: left;
  /* Align text to the left */
  padding: 20px;
  max-width: 1000px;
  /* Increase max-width for better responsiveness */
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}  